.whizzie-wrap {
	opacity: 0;
	position: relative;
    border: none;
}
.whizzie-wrap.loaded {
    opacity: 1;
    max-width: 96% !important;
    text-align: center;
    margin:0 auto;
    background-color: #e2f2ff;
    padding: 20px !important;
}
.whizzie-menu .button-primary, .whizzie-menu .button-secondary, .whizzie-menu .button, .other_content .button{
    padding: 7px 26px;
    font-size: 18px;
    font-weight: 700;
}
.whizzie-wrap.spinning .step-loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: rgba(255,255,255,0.8);
}
.spinning .step-loading .spinner {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	visibility: visible;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.spinning a.do-it {
	visibility: hidden;
}
.whizzie-menu li.step {
	visibility: hidden;
}
.whizzie-menu li.active-step {
	visibility: visible;
}
.loaded .whizzie-menu li.step {
	visibility: visible;
	display: none;
}
.loaded .whizzie-menu li.active-step {
	display: list-item;
}
.spinning .spinner {
	visibility: visible;
	float: none;
	text-align: center;
}
.button-wrap {
	display: inline-block;
	margin: 1em 0;
}
.detail {
	display: none;
	opacity: 0;
	transition: all 1s;
}
.show-detail .detail {
	display: block;
	opacity: 1;
	transform: scaleY(1);
	transform-origin: top;
	transition: all 0.5s;
}
.detail.scale-down {
	transform: scaleY(0);
}
.whizzie-menu .detail ul {
	margin: 1em 0;
}
a.more-info {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #ccc;
}
a.more-info:after {
	font-family: Dashicons;
	content: "\f347";
	padding-left: 0.25em;
	vertical-align: middle;
}
ul.whizzie-do-plugins li {
	padding: 0.5em 1em;
}
ul.whizzie-do-plugins li:nth-child(odd) {
	background: #f9f9f9;
}
ul.whizzie-do-plugins li span {
	float: right;
}
ul.whizzie-nav {
    list-style: none;
	display: webkit-flex;
	justify-content: space-evenly;
	margin: 45px 27px 45px 0;
	display: flex;
}
ul.whizzie-nav li {
	opacity: 1;
	transition: all 0.25s;
}
ul.whizzie-nav li.active-step .dashicons {
	color: #0073aa;
	background-color: white;
}
ul.whizzie-nav li.done-step {
	opacity: 0.5;
}
ul.whizzie-nav .dashicons {
    font-size: 20px;
    background: linear-gradient(to right,#024985,#0189f0);
    padding: 20px;
    border-radius: 50%;
    color: white !important;
}
.whizzie-wrap.loaded .summary p{
	font-size: 16px;
}
.whizzie-menu h2 {
    font-size: 22px;
    font-weight: 700;
}
.step-done h2:before{
	content: "\f529";
	font-family: dashicons;
	font-weight: 400;
	display: inline-block;
	position: relative;
    top: 4px;
    padding-right: 10px;
}
/* ------- Setup Guid --------- */
#gadget-store-demo-setup-guid .gadget-store-setup-contact{
	display: none;
}
#gadget-store-demo-setup-guid .gadget-store-setup-widget{
	display: none;
}
#gadget-store-demo-setup-guid .gadget-store-setup-dots{
	text-align: center;
	padding-top: 25px;
}
#gadget-store-demo-setup-guid .gadget-store-setup-finish{
	text-align: center;
	padding-top: 20px;
}
#gadget-store-demo-setup-guid ol li{
	list-style: decimal;
	font-size: 15px;
	font-weight: 600;
}
#gadget-store-demo-setup-guid h4{
	font-size: 17px;
}
#gadget-store-demo-setup-guid h3{
	font-weight: 900;
	font-size: 19px;
}
#gadget-store-demo-setup-guid h3:before{
	content: "\f155";
	font-family: dashicons;
	font-weight: 400;
	display: inline-block;
	position: relative;
    top: 2px;
    padding-right: 6px;
}
#gadget-store-demo-setup-guid p{
	font-size: 15px;
}
.whizzie-menu .step-plugins{
	height: 100% !important;
}
#gadget-store-demo-setup-guid .gadget-store-setup-social-icon{
	display: none;
}
/*---------------Additional CSS----------------*/
.appearance_page_gadgetstore-wizard h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2271b1;
    font-weight: 700;
    font-size: 30px;
}
.demo_content {
	width: 46%;
	text-align: left;
	font-size: 12px;
	margin-right: 3%;
	}
.demo_image img {
    max-width: 100%;
    padding-top: 0;
}
.demo_image{
	width: 50%;
}
.demo_content_image {
    display: flex;
}
.demo_content_image a.button.button-primary {
    padding: 7px 24px;
    font-size: 18px;
    font-weight: 700;
}
.demo_content_image a.button.button-primary.bundle {
  background-color: #d71800;
  border: none;
}
.demo_content_image p{
	font-size: 16px;
}
.demo_content_image h2 {
    font-weight: 700;
    font-size: 20px;
}
ul.whizzie-menu {
    background-color: white;
    padding: 50px 30px;
    text-align: center;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 20px;
}
.customize_div {
    font-size: 20px;
    font-weight: 600;
}
a.customize_link {
    text-decoration: none;
}

.demo_content_image a.button.button-primary.bundle.pro::before {
	content: 'SALE';
	position: absolute;
	top: -15px;
	right: -20px;
	background-color: #000;
	color: yellow;
	padding: 8px 5px; 
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	z-index: 10;
	animation: flash 0.7s linear infinite;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.demo_content_image a.button.button-primary.bundle.pro {
	position: relative;
}

.demo_content_image a.button.button-primary.bundle.pro:hover::before {
	background-color: yellow; /* Changes color on hover */
	color: red; /* Changes text color on hover */
}


@keyframes flash {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.demo_content_image a.button.button-primary.bundle{
	background: green !important;
	color: #ffffff !important;
}
.demo_content_image a.button.button-primary.bundle.pro{
	background: red !important;
	color: #ffffff !important;
}
.demo_content_image a.button.button-primary.bundle:hover{
	background: linear-gradient(to right,#024985,#0189f0) !important;
}

.demo_content_image h2:nth-child(01) {
    font-weight: 700;
    font-size: 24px;
	margin-bottom: 40px;
    text-align: center;
}

.demo_image.buttons{
	margin-bottom: 30px;
	width: 100%;
}
.demo_image.buttons a{
	margin: 0 10px;
}